*{
    /* Selecting all elements and factoring in padding when calculating width */
    box-sizing: border-box;
}
.navbar{
    /* Setting up navigation bar */
    background-color: blue;
    height: 50px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: blue;
      }
      li {
        float: left;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-right: 1px solid black;
      }
      li a:hover {
        background-color: navy;
      }
}

header{
    /* editing the header style */
    background-color: navy;
    text-align: center;
    padding: 25px;
}
/* Sets the aside and section elements to be side-by-side */
aside{
    width: 30%;
    float: left;
    padding: 10px;
}
section{
    width: 60%;
    float: left;
    padding: 10px;
}
article{
    width: 10%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    /* editing the footer style */
    background-color: navy;
    text-align: center;
    padding: 15px;
}

/* Elements will stack on-top of one-another if a mobile device is detected */
@media screen and (max-width:600px){
    aside, section{
        width: 100%
    }
}
/* importing CDN bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");