*{
    /* Selecting all elements and factoring in padding when calculating width */
    box-sizing: border-box;
}
/* create a color palette for the website, so that we don't need to manually input values */
:root{
    --base-color: #3c0570;
    --base-variant: #6024eb80;      /*Last two #'s determine transparency*/
    --text-color:white;
    --secondary-text:white;
    --primary-color: #bb89de;
    --secondary-color: #20bee3;
    --accent-color: #c9c1e6;
}

/* Make the BG black, set GIF as the BG image */
body{
    background-color: black;
    background-image:url('Assets/pixel_Stars.gif');    /* Pulling a gif as the BG image */
    background-size:100%;                          /* Size up so it's not so itty-bitty */
    background-repeat: repeat-y;                   /* Image stays in place & doesn't follow */
    background-attachment: fixed;

    height:100%;
    width:100%;
}

.navbar{
    /* Setting up navigation bar */
    background-color: var(--base-color);
    height: 35px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: var(--base-color);
    }

    li {
        float: left;
        border-right: 1px solid white;      /* Black right border seperating options */
    }
    li:last-child {
        border-right: none;                   /* Makes sure the end option doesn't have a line */
    }

    li a {
        display: block;
        color: var(--text-color);
        text-align: center;
        padding: 14px 16px;     /* Changes padding around element */
        text-decoration: none;
        border-right: 1px solid var(--base-color);
    }

    /*Change color on hover*/
    li a:hover {
        background-color: var(--base-variant);
    }
    
    /* Active class so surfers can see what page they're on */
    .active {
        background-color: var(--base-variant);
    }
}
/* Class to make images responsive */
.responsive{
    max-width: 100%;
    height: auto;
}
/* Class for responsive boxes */
.funky_box{
    background-color: var(--base-variant);
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    border-radius: 15px 50px;   /* Round corners :3 */
}

header{
    /* editing the header style */
    text-align: center;
    padding: 25px;
}
/* Area for basic section sizes*/
aside{
    width: 25%;
    float: left;
    padding: 10px;
}
section{
    width: 60%;
    float: left;
    padding: 10px;
}
article{
    width: 15%;
    float: left;
    padding: 10px;
}


/* Elements will stack on-top of one-another if a mobile device is detected */
@media screen and (max-width:600px){
    aside, section{
        width: 100%
    }
}

/* Control the overall size of the page */
#wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
#heading-container{
    background-image:url('Assets/Header_Wallpaper.png')
}
